.main {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

body {
    font: 1.2rem "Fira-Sans", sans-serif;
    background-color: #FFC483;
    color: #A61D00;
}

h1 {
    margin-left: 10%;
    margin-right: 10%;
}

.section {
    border-bottom: 2px solid;
    color: #BF4930;
}

.accordion {
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    background-color: transparent;
    margin: 1rem 0;
    padding: 0;
    font: 1.5rem "Fira-Sans", sans-serif;
    font-weight: bold;
    color: #BF4930;
}

.main:hover .section {
    color:#A61D00;
}

.main:hover .accordion {
    color:#A61D00;
}

.meme-block {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.4s;
}

.section:hover .meme-block {
    max-height: 100%;
    opacity: 100%;
}

.section:hover .meme-block .meme {
    max-height: 50vh;
}

.section:focus {
    outline: 0;
}

.section:focus .meme-block {
    max-height: 100%;
    opacity: 100%;
}

.section:focus .meme-block .meme {
    max-height: 50vh;
}

.meme {
    display: block;
    padding: 0 0 1.5rem 0;
    max-height: 0;
    margin-left: auto;
    margin-right: auto;
    transition: 0.4s;
    -webkit-transition: max-height 1s; 
}

.caption {
    display: flex;
    justify-content: space-between;
}

.icon {
    display: inline-block;
    -webkit-mask: url(/cssBayan/svg/plus.svg);
    mask: url(/cssBayan/svg/plus.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    height: 1.5rem;
    width: 1.5rem;
    margin: 1rem;
    background-color:#BF4930;
    transition: 0.4s;
}
.section:hover .icon {
    transform: rotate(45deg);
}

.section:focus .icon {
    transform: rotate(45deg);
}

.main:hover .icon {
    background-color:#A61D00;
}